*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background-color:  #546B41;
    color: #000000;
}
.container{
  margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background-color: #DCCCAC;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;

}
input{
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}
button{
    display: block;
    width: 100%;
    padding: 12px;
    background: #546B41;
    color: #DCCCAC;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    transition: 0.5s;

}
button:hover{
    background-color: #DCCCAC;
}
p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}
p a{
    color: #ebede9;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}

.max-card {
  max-width: 600px;
}

.input-style {
  border-radius: 12px !important;
  transition: 0.2s;
}

.input-style:focus {
  box-shadow: 0 0 8px rgba(13,110,253,0.4);
  border-color: #0d6efd;
}

.btn-style {
  border-radius: 12px;
  transition: 0.3s;
}

.btn-style:hover {
  transform: scale(1.03);
}

.card {
  overflow: hidden;
}